@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap);
@font-face {
  font-family: CalSans;
  font-display: swap;
  src: url("../fonts/CalSans-SemiBold.woff2") format("woff2"), url("../fonts/CalSans-SemiBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/*Обнулення*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*---------------*/
[class*="__conteiner"] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-family: CalSans;
  font-size: 44px;
  line-height: 1.2;
  color: #121212;
  text-align: center;
}

.title span {
  color: #ff6428;
}

@media (max-width: 767.98px) {
  .title {
    font-size: 38px;
  }
}

body {
  font-family: Poppins;
  font-size: 16px;
  color: #666666;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 131px;
  min-height: 152px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 15px;
}

.header__logo {
  position: relative;
  z-index: 54;
}

.header__menu {
	padding: 10px 15px 10px 0px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.8);
 }
 
 .header__button {
	position: relative;
	z-index: 6;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
		 -ms-flex-pack: end;
			  justify-content: flex-end;
	-webkit-box-align: center;
		 -ms-flex-align: center;
			  align-items: center;
 }

@media (max-width: 1092px) {
  .header__conteiner {
    gap: 50px;
    min-height: 100px;
  }
  .menu__list {
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
}

